body {
  text-align: center;
  font-family: 'Arial';
  background: rgb(219, 215, 219);
  color: rgb(9, 172, 231);
}

#explosion {
  width: 200px; /* Sets the width of the image */
  margin-right: 20px; /* Adds space between the image and the text */
}

#money {
  width: 200px;
  margin-right: 20px;
}

.top {
  display: flex; /* Aligns content horizontally */
  align-items: center; /* Vertically aligns the items */
  justify-content: center; /* Centers content horizontally */
  margin-bottom: 10px; /* Adjusts the space between the "About Us" and next section */
  gap: 10px; /* Optional: Adds space between the image and text */
}

.second {
  display: flex; /* Aligns content horizontally */
  align-items: center; /* Vertically aligns the items */
  justify-content: center; /* Centers content horizontally */
  margin-top: 10px; /* Adds margin between sections */
  gap: 10px; /* Optional: Adds space between the image and text */
}

button{
  margin-top: 30px;
}
/* Reset margins */
h1, p {
  margin: 0; /* Removes all margins from h1 and p */
}

h1 {
  font-size: 24px;
  color: rgba(19, 55, 68, 0.991); /* Color for heading */
}

p {
  font-size: 16px; /* Adjusts font size of the paragraph */
}

